
body {
    font-family: Arial, sans-serif;
    background-color: #b34308; /* Darker Kigo Parkimovil orange */
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e2a4f; /* Darker Kigo Parkimovil blue */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s ease-in-out forwards;
  }